.app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

body {
    background: #E5E5E5;
}

.header {
    grid-area: 1/2/2/4;
    justify-self: center;
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 40px;
}